.App {
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
  padding-top: 50px;
}
.progress_bar_border {
  width: 100%;
  height: 9px;
  border: 1px solid black
}
.progress_bar {
  background-color: green;
  width: 0%;
  height: 9px;
  transition: all 0.2s;
  position: relative;
}
.progress_bar::after{
  content: '';
  position: absolute;
  right: -1px;
  top: -2px;
  height: 13px;
  width: 3px;
  background-color: darkslategrey;
}

audio {
  display: none;
}